munkres>=1.1.2
tqdm>=4.26
tensorboard>=1.11
tensorboardX>=1.4
json_tricks
xtcocotools
gdown
opencv-python>=3.4
vidgear>=0.1.4
ffmpeg-python>=0.2.0
pycocotools


                                                                
+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI              PID   Type   Process name                        GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A            2068      G   /usr/lib/xorg/Xorg                        4MiB |
|    0   N/A  N/A          380345      C   /usr/bin/python3                        356MiB |
|    0   N/A  N/A          854634      C   /home/miniconda3/bin/python            5350MiB |
|    0   N/A  N/A         1560090      C   /home/miniconda3/bin/python             946MiB |
|    0   N/A  N/A         2248243      C   /usr/bin/python3                       1694MiB |
|    0   N/A  N/A         2609218      C   python                                 4016MiB |
|    0   N/A  N/A         2937514      G   /usr/lib/xorg/Xorg                        4MiB |
|    0   N/A  N/A         3060064      C   /usr/bin/python3                        340MiB |
|    1   N/A  N/A            2068      G   /usr/lib/xorg/Xorg                       39MiB |
|    1   N/A  N/A         1820915    C+G   python                                22790MiB |
|    1   N/A  N/A         2937514      G   /usr/lib/xorg/Xorg                       76MiB |
|    1   N/A  N/A         2937687      G   /usr/bin/gnome-shell                     70MiB |
+-----------------------------------------------------------------------------------------+


+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI              PID   Type   Process name                        GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A            2068      G   /usr/lib/xorg/Xorg                        4MiB |
|    0   N/A  N/A          380345      C   /usr/bin/python3                        356MiB |
|    0   N/A  N/A          854634      C   /home/miniconda3/bin/python            5350MiB |
|    0   N/A  N/A         1560090      C   /home/miniconda3/bin/python             946MiB |
|    0   N/A  N/A         2248243      C   /usr/bin/python3                       1694MiB |
|    0   N/A  N/A         2937514      G   /usr/lib/xorg/Xorg                        4MiB |
|    0   N/A  N/A         3060064      C   /usr/bin/python3                        340MiB |
|    1   N/A  N/A            2068      G   /usr/lib/xorg/Xorg                       39MiB |
|    1   N/A  N/A         1820915    C+G   python                                22790MiB |
|    1   N/A  N/A         2937514      G   /usr/lib/xorg/Xorg                       76MiB |
|    1   N/A  N/A         2937687      G   /usr/bin/gnome-shell                     70MiB |
+-----------------------------------------------------------------------------------------+


+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI              PID   Type   Process name                        GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A            2068      G   /usr/lib/xorg/Xorg                        4MiB |
|    0   N/A  N/A          380345      C   /usr/bin/python3                        356MiB |
|    0   N/A  N/A          854634      C   /home/miniconda3/bin/python            5350MiB |
|    0   N/A  N/A         1560090      C   /home/miniconda3/bin/python             946MiB |
|    0   N/A  N/A         2248243      C   /usr/bin/python3                       1694MiB |
|    0   N/A  N/A         2937514      G   /usr/lib/xorg/Xorg                        4MiB |
|    0   N/A  N/A         3060064      C   /usr/bin/python3                        340MiB |
|    1   N/A  N/A            2068      G   /usr/lib/xorg/Xorg                       39MiB |
|    1   N/A  N/A         1820915    C+G   python                                22790MiB |
|    1   N/A  N/A         2937514      G   /usr/lib/xorg/Xorg                       76MiB |
|    1   N/A  N/A         2937687      G   /usr/bin/gnome-shell                     70MiB |
+-----------------------------------------------------------------------------------------+

